@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200&family=Fredoka+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200&family=Fredoka+One&family=Lalezar&display=swap');


*{
    margin: 0;
    padding: 0cm;
    box-sizing: border-box;
    transition: all 0.3s ease;

}


.todo-container{
    position: relative;
    min-height: 20rem !important;
    min-width: 485px;
}

.todo-iput{width: 22rem; max-width: 50vw;}
.tops{
    justify-content: center;
    max-width: 90vw;
    width: 600px;
    display: flex;
    margin-top: 2rem;
}

i{
    pointer-events: none;
    color: #1363DF;
}

button:hover i{
    color: white;
}

body{background-repeat: no-repeat; 
    height: 100vh; color: rgb(255, 255, 255);
    background-color: #06283D;   overflow-y: hidden;
     display: flex; flex-direction: column; align-items:center;
    }

header{margin: 2rem;}    

header h1{font-size: 3rem;  letter-spacing: 0.1em; font-family: 'Fredoka One', cursive;
    text-transform: uppercase;
}
header{
    margin: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 4rem;;
}

.form-pack{
    max-width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 4rem;;
    }

form input ,form button{
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.333);
    border: none;
    font-size: 2rem;
    height: 4rem;
    margin: 0px;
    
}

.select{position: relative;  margin-right: 1rem;}

select{ box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.333);
     height: 4rem; background-color: white;
      text-align: left;
      text-transform: capitalize;
       border-radius: 0.5rem ; cursor: pointer;
font-family: Verdana, Geneva, Tahoma, sans-serif;
 font-weight: bold; color: #0a6697;
border: none;
appearance: none;
padding-right: 1.5rem;
padding-left: 1rem;
}

.custom-arrow{top:0; right: 0; display: block;
     position: absolute;
     width: 1.2rem; height: 100%; display: flex;
     justify-content: center; align-items: center;
     pointer-events: none;
     padding: 1rem;
    }

    

select:hover{background-color: #1363DF; color: white;}

.select:hover i{color: white;}

form input{
     text-transform: capitalize;
     border-radius: 0.5rem 0 0 0.5rem; width: calc(100%-50px);   float: left; overflow: hidden; padding:0 0 0 1rem  ;}
button{
    border-radius: 00.5rem;
    cursor: pointer;
    transition: all 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    min-width: 50px;
}

form button{  min-width: 50px !important; border-radius: 0 0.5rem 0.5rem 0; }

form button:hover{
    background-color: #1363DF;
}

li button:hover{
    background-color: #1363DF;
}


.todo-container{min-height: 5rem; margin:2rem;
    max-height: 25rem;
    overflow: auto;
}


.todo-container *{display:flex;  border: none;
    
    font-size: 1rem;
    }

.todo-list{  background-color: rgba(0, 190, 196, 0); display:flex;
     align-items: center; flex-direction: column; 
      justify-content: space-around; padding:0  0.5rem;}

li{ display:flex; justify-content: space-between; 
    position: relative;
     background-color: rgb(77, 233, 129); width: 100%; 
      text-align: left; min-height: 4rem; width: 485px; margin: 0.5rem; padding: 0.5rem;
       transition: all 0.8s ease-in-out ;   box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.333);
       gap: 0 1rem;
       border-radius: 00.5rem ;
    }

li p{ border: 2px solid black ;   flex-grow: 2;
    font-family: 'Lalezar', cursive; letter-spacing: 0.1rem; margin: 0 0 0 1rem;
    text-transform: capitalize;
    word-wrap: break-word !important;
    height: fit-content;
    word-break: break-word;
    text-overflow: ellipsis;
}

.edit-field{
    border:#1363DF solid 2px;
    height: 77%;
    border-radius: 0.5rem;
    padding:0 1rem;
    width: 57%;
}
.todo-container li i{font-size: 1.5rem;}



.allert{
    width: 700px;
}



.alert{ position: absolute;  width: fit-content;  height: 4rem;
     background-color: red; align-items: center; padding: 1rem;
     display:flex; z-index: -1; transition-timing-function:ease-out; border-radius: 0 0.5rem 0.5rem 0; }

.glass{opacity: 50%; }  

.solid{opacity: 100%;}

.falll{
    transform: translatey(250px) rotateZ(20deg);
    opacity: 0;
    position: absolute;
}

    

::-webkit-scrollbar{ display: none; }
.custom-shape-divider-bottom-1656348997 {
    z-index: -1;
    opacity: 50%;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
    height: 70%;
}

.custom-shape-divider-bottom-1656348997 svg {
    position: relative;
    display: block;
    width: calc(147% + 1.3px);
    height: 70%;
}

.custom-shape-divider-bottom-1656348997 .shape-fill {
    fill: #0a6697;
}



.searchh{font-size: 2rem; display: flex; flex-direction: row-reverse; gap: 1rem; align-items: center; max-width: 70vw;}
.searchh input{border-radius: 0.5rem; height: 3rem; width: 20rem; appearance: none; border: none; padding: 0 2rem;}
.searchh label{background-color: white; height: 100%; width: 3rem;
     display: flex; justify-content: center;cursor: pointer;
      align-items: center; border-radius: 0.5rem;}
.searchh label:hover{ background-color: #1363DF;}
.searchh label:hover i{color: white;}


.shide{
    display: none;
}

@media only screen and (max-width: 767px) {
    header{margin-top: 5rem;}
    li{width: 100%; flex-wrap: wrap; justify-content: center;}
    .todo-container{width: 80vw; min-width: auto !important;}
    .alert{ display: none; }
    .edit-field{  width: 90%;
        height:calc(100% - 5rem);
    }
    p{justify-self: left; align-self: flex-end; width: 90%; min-height: 4rem; align-items: center;}
    
    button{height: 50px;margin: 0.5rem; } 
    
    .searchh label{padding: 0 1rem; }
}

    
    
/** For mobile devices **/
@media (max-width: 767px) {
    .custom-shape-divider-bottom-1656379681 svg {
        width: calc(147% + 1.3px);
        height: 254px;
    }
}
